.link-card {
  /*border: 1px solid red;*/
  position: relative;
  background: #f8f8f8;
  /*padding-bottom: 32px;*/
  margin-bottom: 32px;
}

.link-card a {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background: #f8f8f8 !important;
  margin: 0 !important;
}

.link-card p {
  background: #f8f8f8;
  z-index: 10;
  box-shadow: 3px 3px 2px #ccc;
  position: absolute;
  padding: 4px 10px 15px 10px;
  margin: 0 0;
  max-height: 10px;
  overflow: hidden;
  transition: max-height 0.6s;
  /*transition: padding 0.2s;*/
}
.link-card p.expanded {
  max-height: 500px;
}
.link-card .img-container {
  z-index: 1;
  box-shadow: 3px 3px 2px #ccc;
}

.link-card .img-container .overlay {
  position: absolute;
  left: 0;
  top: 90px;
  font-size: 14px;
}

.link-card .img-container .overlay-line {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 4px;
}

.link-card img {
  width: 100% !important;
  /*margin-left: -2px;*/
}